<div class="container">
  <ul>
    <li>
      <h2><a routerLink="/architectureWithComp" routerLinkActive="active">Architecture with components</a></h2>
    </li>
    <li>
      <h2><a routerLink="/jokeDemo" routerLinkActive="active">Joke Demo</a></h2>
    </li>
    <li>
      <h2><a routerLink="/reactDemo" routerLinkActive="active">Reactive Programming Demo</a></h2>
    </li>
    <li>
      <h2><a routerLink="/pipeDemo" routerLinkActive="active">Pipe Demo</a></h2>
    </li>
    <li>
      <h2><a routerLink="/forms" routerLinkActive="active">Forms</a></h2>
    </li>
    <li>
      <h2><a routerLink="/reactiveModelForm" routerLinkActive="active">Reactive Model Form</a></h2>
    </li>
    <li>
      <h2><a routerLink="/di" routerLinkActive="active">Dependency Injector</a></h2>
    </li>
    <li>
      <h2><a routerLink="/httpDemo" routerLinkActive="active">HTTP Demo</a></h2>
    </li>
    <li>
      <h2><a routerLink="/search" routerLinkActive="active">Search App Demo</a></h2>
    </li>
    <li>
      <h2><a routerLink="/jsonp" routerLinkActive="active">JSONP Demo</a></h2>
    </li>
    <li>
      <h2><a routerLink="/es" routerLinkActive="active">Elasticsearch Demo</a></h2>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
