<nb-layout windowMode>
  <nb-layout-header fixed>
    <luva-header></luva-header>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <nb-sidebar-header>
      <a href="#" class="btn btn-hero-success main-btn">
        <i class="ion ion-social-github"></i>
        <span>Support Us</span>
      </a>
    </nb-sidebar-header>
    <ng-content select="nb-menu"></ng-content>
    <nb-sidebar-footer>
      <a href="#" class="btn btn-hero-success main-btn">
        <i class="ion ion-social-github"></i>
        <span>Support Us</span>
      </a>
    </nb-sidebar-footer>
  </nb-sidebar>

  <nb-layout-column>
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

  <nb-layout-column left class="small">
    <nb-menu [items]="subMenu"></nb-menu>
  </nb-layout-column>

  <nb-layout-footer>
    <h2>Footer</h2>
  </nb-layout-footer>

  <nb-sidebar class="settings-sidebar" tag="settings-sidebar" state="collapsed" fixed>
    <h2>Setting Sidebar</h2>
  </nb-sidebar>
</nb-layout>
