<h2>Reactive Programming Demo</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Output comment -->
  <div class="card card-block">
    <pre class="card-text">{{ form.value.comment }}</pre>
  </div>
  <p class="small">{{ form.value.lastUpdateTS }}</p>

  <!-- Comment text area -->
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control" formControlName="comment" rows="3"></textarea>
    <small class="form-text text-muted"><span>{{ 100 - form.value.comment.length }}</span>characters left</small>   </div>

  <!-- Name input -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
  </div>

  <!-- Email input -->
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>
