<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <ul>
        <li>
          <h4>
            <a routerLink="/architectureWithComp" routerLinkActive="active">Architecture with components</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/jokeDemo" routerLinkActive="active">Joke Demo</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/reactDemo" routerLinkActive="active">Reactive Programming Demo</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/pipeDemo" routerLinkActive="active">Pipe Demo</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/forms" routerLinkActive="active">Forms</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/reactiveModelForm" routerLinkActive="active">Reactive Model Form</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/di" routerLinkActive="active">Dependency Injector</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/httpDemo" routerLinkActive="active">HTTP Demo</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/search" routerLinkActive="active">Search App Demo</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/jsonp" routerLinkActive="active">JSONP Demo</a>
          </h4>
        </li>
        <li>
          <h4>
            <a routerLink="/es" routerLinkActive="active">Elasticsearch Demo</a>
          </h4>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
